.login_container {
  height: 100vh;
  width: 250px;
  background: rgba(250, 250, 250, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login_container h1 {
  text-align: center;
  color: rgb(9, 2, 34);
  font-weight: 900;
  padding-top: 20px;
}

.login_container p {
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
}

footer {
  padding-bottom: 20px;
}
